@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "sans-serif";

  --animate-small-bounce: smallBounce 1.3s infinite;

  @keyframes smallBounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
  }
}

@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
