---
import { Image } from "astro:assets";
import Carousel from "../components/Carousel";
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/bazurco logo.png";
import {
  IconUsersGroup,
  IconHeartHandshake,
  IconSeeding,
} from "@tabler/icons-react";
---

<Layout
  title="Inicio - Bazurco"
  description="Bienvenido a Bazurco - Tu empresa de servicios de limpieza"
>
  <Carousel client:load />
  <div class="flex flex-col gap-24 w-full h-full max-w-[90%] mx-auto py-12">
    <div class="grid grid-cols-2 gap-6">
      <div class="flex gap-2 items-center">
        <Image src={Logo} alt="bazurco logo" class="w-[200px]" />
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Bazurco</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
      <div class="flex gap-2 items-center">
        <div class="w-[900px]">
          <IconUsersGroup className="w-full h-auto text-blue-400" />
        </div>
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Equipo</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
      <div class="flex gap-2 items-center">
        <div class="w-[900px]">
          <IconHeartHandshake className="w-full h-auto text-blue-400" />
        </div>
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Responsabilidad</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
      <div class="flex gap-2 items-center">
        <div class="w-[900px]">
          <IconSeeding className="w-full h-auto text-blue-400" />
        </div>
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Medio Ambiente</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <p class="text-lg text-gray-700">
        Si deseas saber más sobre nosotros, visita nuestra sección de
        <a href="/nosotros" class="text-blue-500 hover:underline"> Nosotros</a>.
      </p>
      <p class="text-lg text-gray-700">
        Para conocer nuestros servicios, visita nuestra sección de
        <a href="/servicios" class="text-blue-500 hover:underline">
          Servicios</a
        >.
      </p>
    </div>
  </div>
</Layout>
