---
import Layout from "../layouts/Layout.astro";
---

<Layout title="nosotros" description="Conoce más sobre nosotros">
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold mb-4">Nosotros</h1>
    <p class="text-lg text-gray-700">
      Somos una empresa dedicada a ofrecer los mejores servicios de calidad.
    </p>
    <p class="text-lg text-gray-700">
      Nuestro equipo está comprometido con la excelencia y la satisfacción del
      cliente.
    </p>
  </div>
</Layout>
