---
import { Image } from "astro:assets";
import logo from "../assets/logo.jpeg";

const pathname = Astro.url.pathname;

const routes = [
  { name: "Home", path: "/" },
  { name: "Nosotros", path: "/nosotros" },
  { name: "Servicios", path: "/servicios" },
  { name: "Contacto", path: "/contacto" },
  { name: "Recursos Humanos", path: "/recursos-humanos" },
];

const year = new Date().getFullYear();
---

<aside class="flex flex-col w-1/5 p-4 justify-between">
  <div id="content-sidebar">
    <header>
      <div class="flex items-center mb-4">
        <Image src={logo} alt="Logo bazurco" class="w-full h-full" />
      </div>
      <p class="text-gray-600 mb-4 text-center text-xs">
        Bienvenido a nuestro sitio web. Explora nuestros servicios y contáctanos
        para más información.
      </p>
    </header>
    <nav>
      <ul>
        {
          routes.map((route) => (
            <li>
              <a
                href={route.path}
                class={`block p-4 text-lg ${pathname === route.path ? "bg-blue-500 text-white" : "text-gray-700 hover:bg-blue-100"}`}
              >
                {route.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <footer>
    <p class="text-sm text-gray-500 mt-4 text-center">
      © {year} Bazurco. Todos los derechos reservados.
    </p>
  </footer>
</aside>
